﻿﻿@Model CIG.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2 class="mt-4">Benvenuto su CIG 🚀</h2>
    <p>Hai effettuato l'accesso con il seguente token:</p>

    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Claim</th>
                <th>Valore</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in Model)
            {
                <tr>
                    <td>@claim.Key</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>